* {
  box-sizing: border-box;
}

.preview__scene {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.preview__layer {
  position: absolute;
  left: -10%;
  top: 0;
  width: 110%;
  height: 100%;
}

.preview__layer-bg {
  background-image: url("../img/girl.png"), url("../img/bg.png");
  background-repeat: no-repeat;
  background-position: right 14% bottom 0, center;
  background-size: auto, cover;
}

.preview__layer-1 {
  background-image: url("../img/spot.png");
  background-repeat: no-repeat;
  background-position: left 116px top 230px;
}

.preview__layer-2 {
  background-image: url("../img/spot_2.png");
  background-repeat: no-repeat;
  background-position: right 5% top 83px;
}

@media (max-width: 990px) {
  .preview__layer-bg {
    background-image: url("../img/bg.png");
    background-position: center;
    background-size: cover;
  }
}

@media (max-width: 767px) {
  .preview__layer-1 {
    background-image: none;
  }

  .preview__layer-2 {
    background-image: none;
  }
}

