.popup {
  position: fixed;
  left: 50vw - 38.54vw / 2;
  top: 5%;

  box-sizing: border-box;
  //padding: 80px 125px;
  padding: 80px 6.51vw;
  //width: 740px;
  width: 38.54vw;
  margin: 0 auto;

  background-color: #fcf0eb;
  background-image: linear-gradient(to top, #fafcfc 0%, #fcf7f5 100%);
  border: 1px solid #fbeeef;
  border-radius: 40px;
  z-index: 10;

  &::before {
    content: "";
    display: block;
    width: 263px;
    height: 386px;

    //width: 13.7vw;
    //height: 20vw;

    position: absolute;
    left: -107px;
    top: 250px;

    background-image: url("../img/program.png");
    z-index: -1;

    @media (max-width: 500px) {
      width: 131.5px;
      height: 193px;

      left: -50px;
      top: 250px;
      background-size: cover;
    }
  }

  @media (max-width: 1300px) {
    width: 60vw;
    left: 50vw - 60vw / 2;
    top: 10%;
  }

  @media (max-width: 720px) {
    width: 80vw;
    left: 50vw - 80vw / 2;
  }

  @media (max-width: 500px) {
    padding-top: 15px;
    padding-bottom: 15px;
    top: 2vh;
  }
}

.popup__title {
  margin: 0 auto;
  margin-bottom: 30px;

  font-size: 36px;
  font-weight: 300;

  @media (max-width: 1300px) {
    text-align: center;
    font-size: 30px;
  }

  @media (max-width: 500px) {
    font-size: 25px;
    margin: 0 20px;
    margin-bottom: 10px;

  }
}

.popup__desc {
  margin: 0;
  margin-bottom: 35px;

  font-size: 16px;
  font-weight: 300;

  @media (max-width: 500px) {
    margin-bottom: 10px;
  }

}

.popup__input {
  box-sizing: border-box;
  width: 100%;
  padding: 30px 45px;
  margin-bottom: 15px;
  border: 1px solid #fbf1f1;
  background-color: #ffffff;
  border-radius: 40px;

  font-size: 18px;
  font-weight: 300;
  color: #989797;
  line-height: 24px;

  &::placeholder {
    font-size: 18px;
    font-weight: 300;
    color: #989797;
    line-height: 24px;

    @media (max-width: 500px) {
      padding: 5px;
      font-size: 12px;
    }
  }

  & option {
    font-size: 18px;
    font-weight: 300;
    color: #989797;
    line-height: 24px;
  }

  @media (max-width: 500px) {
    padding: 5px;
    font-size: 12px;
  }
}

.popup__input--select {
  appearance: none;
  background-image: url("../img/select_arrow.png");
  background-repeat: no-repeat;
  background-position: center right 25px;
}

.popup__close-btn {
  display: block;
  width: 12px;
  height: 12px;

  position: absolute;
  right: 40px;
  top: 47px;

  border: none;
  background-image: url("../img/icon-close.svg");
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  opacity: 0.4;
  cursor: pointer;

  @media (max-width: 500px) {
    right: 20px;
    top: 30px;
  }
}
