.success-message {
  position: fixed;
  left: 50vw - 27.1875vw / 2;
  top: 20%;

  box-sizing: border-box;
  width: 27.1875vw;
  min-height: 340px;
  padding: 0 30px 30px 50px;

  background-color: #fefbf9;
  background-image: url("../img/petal.png"), url("../img/leaf.png"), url("../img/spot.png");
  background-repeat: no-repeat;
  background-position: right 10px bottom 80px, bottom 20px right -10px, bottom -150px right -250px;
  border: 1px solid #fbeeef;
  border-radius: 40px;
  z-index: 10;

  @media (max-width: 1300px) {
    width: 50vw;
    left: 50vw - 50vw / 2;
    top: 20%;
  }

  @media (max-width: 720px) {
    width: 80vw;
    left: 50vw - 80vw / 2;
  }
}

.success-message__title b {
  font-size: 30px;
  font-weight: 700;
}

.success-message__title {
  text-align: center;
  font-size: 30px;
  font-weight: 300;
}

.success_message__checkbox {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  margin-top: 77px;
  margin-bottom: 30px;
  width: 90px;
  height: 90px;
  border: 4px solid #f49fa3;
  border-radius: 50%;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.success-message__close-btn {
  display: block;
  width: 12px;
  height: 12px;

  position: absolute;
  right: 40px;
  top: 47px;

  border: none;
  background-image: url("../img/icon-close.svg");
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.4;
  cursor: pointer;
}
